<div class="add-btn-padding" uk-margin>
    <button mat-flat-button color="primary" routerLink="/clients/new">
        <i class="fas fa-plus"></i> Add New Client
    </button>
</div>


<div class="details-container container-full-width">
    <!-- <div class="top-header-padding">
        <h3><strong>Client ID:</strong> {{clientId}}</h3>
    </div> -->
    <!-- <div class="uk-margin">
        <h2>
            <strong>Client ID #{{clientId}}</strong>
        </h2>
    </div> -->

    <div *ngIf="isLoadingResults">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div id="client-data-container" class="container">
        <div class="data-value">
            <label>Client ID </label>
            <p> {{clientId}}</p>
        </div>
        <!-- <div class="btns-container container-full-width uk-flex uk-flex-between">
            <button routerLink="/client" mat-stroked-button color="basic">
                <mat-icon aria-hidden="false" aria-label="Discard">arrow_back</mat-icon>
                <strong> Back to client</strong>
            </button>
        </div> -->
        <!-- <hr/> -->
        <!-- <div class="loading-container">
            <div class="uk-align-center spinnerContainer">
                <div uk-spinner></div>
            </div>
        </div> -->
        <div class="data-container uk-flex uk-flex-left uk-margin-small-top">
            
            <div>
    
                <form class="uk-form uk-form-width-large uk-width-full" [formGroup]= "editClientForm" (ngSubmit)="onSubmitHandler()">
            
                    <div id="client-details-wrapper">
                        
                        <div class="fieldWrapper">
                            <div class="uk-margin client-list-container">
                                <label class="uk-form-label" for="mat-select-0">Type <mat-progress-bar *ngIf="!clientTypesList" mode="indeterminate" matSuffix></mat-progress-bar></label>
                                <div class="uk-form-controls">
                                    <mat-form-field floatLabel="auto" appearance="outline">
                                        <mat-label>Select client type</mat-label>
                                        <mat-select name="ClientList" formControlName="typeId" [(ngModel)]="selectedType">
                                            <mat-option>Select type</mat-option>
                                            <mat-option *ngFor="let item of clientTypesList" [value]="item.TypeId">
                                                {{item.Type}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" for="mat-input-1">{{ selectedType === 1? 'Organization' : 'Client' }} Name</label>
                                <div class="uk-form-controls">
                                    <mat-form-field floatLabel="auto" appearance="outline">
                                        <mat-label>{{ selectedType === 1? 'Organization' : 'Client' }} name</mat-label>
                                        <input matInput placeholder="{{ selectedType === 1? 'Organization' : 'Client' }} name" type="text" formControlName="name" #clientName/>
                                        <mat-hint align="end">{{clientName.value.length}} / 50</mat-hint>
                                    </mat-form-field>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                        <div class="fieldWrapper">
                            <div class="uk-margin">
                                <label class="uk-form-label">E-mail</label>
                                <div class="uk-form-controls">
                                    <mat-form-field floatLabel="auto" appearance="outline">
                                        <mat-label>E-mail address</mat-label>
                                        <input matInput placeholder="E-mail address" type="text" formControlName="email"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label">Phone</label>
                                <div class="uk-form-controls">
                                    <mat-form-field floatLabel="auto" appearance="outline">
                                        <mat-label>Phone number</mat-label>
                                        <input matInput placeholder="Phone number" type="text" formControlName="phone"/>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="fieldWrapper">
                            <div class="uk-margin">
                                <label class="uk-form-label">Address</label>
                                <div class="uk-form-controls">
                                    <mat-form-field floatLabel="auto" appearance="outline">
                                        <mat-label>Address</mat-label>
                                        <input matInput placeholder="Address" type="text" formControlName="address" #address/>
                                        <mat-hint align="end">{{address.value.length}} / 200</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="uk-margin">
                                <label class="uk-form-label">Fax</label>
                                <div class="uk-form-controls">
                                    <mat-form-field floatLabel="auto" appearance="outline">
                                        <mat-label>Fax number</mat-label>
                                        <input matInput placeholder="Fax number" type="text" formControlName="fax"/>
                                    </mat-form-field>
                                </div>
                                
                            </div>
                        </div>
                        

                        <div class="fieldWrapper">
                            <div class="uk-margin">
                                <label class="uk-form-label">Website</label>
                                <div class="uk-form-controls">
                                    <mat-form-field floatLabel="auto" appearance="outline">
                                        <mat-label>Website URL</mat-label>
                                        <input matInput placeholder="eg. www.example.com" type="text" formControlName="website" #website/>
                                        <mat-hint align="end">{{website.value.length}} / 200</mat-hint>
                                    </mat-form-field>
                                </div>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    
                    
                
                </form>
                
            </div>
    
            
            
        </div>
        <hr/>
        <div id="submit-btn-container" class="btns-container container-full-width uk-flex uk-flex-start">
            <button mat-flat-button color="primary" type="submit" (click)="onSubmitHandler()" [disabled]="!editClientForm.valid || isSubmitting">
                Save changes <i class="fas fa-check uk-margin-small-left"></i> 
                <span *ngIf="isSubmitting" class="loading-container uk-margin-small-left">
                    <span class="spinnerContainer">
                        <span uk-spinner></span>
                    </span>
                </span>
            </button>
            
        </div>
        
    </div>
    


</div>

