<!-- <div class="add-btn-padding">
    <button mat-flat-button color="primary" routerLink="new">
        <i class="fas fa-plus"></i> Add New Expense
    </button>
</div> -->
<div class="container-full-width">
    <div class="top-header-padding">
        <h3><strong>Expenses List</strong></h3>
    </div>
    
    <div class="search-box-container">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
            <i class="fas fa-search" matSuffix></i>
        </mat-form-field>
    </div>
    <div class="table-container container-full-width">
    
        <div *ngIf="isLoadingResults">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <table mat-table [dataSource]="dataSource" *ngIf="allDataArr?.length != 0" id="ExpensesTable" class="uk-table"  matSort matSortActive="id" matSortDirection="desc">
    
            <!--1 id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let item">{{item.id}}</td>
            </ng-container>
    
            <!--2 creation date Column -->
            <ng-container matColumnDef="CreationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date</th>
                <td mat-cell *matCellDef="let item">{{ item.CreationDate | date: "MMM d, y, h:mm a" }}</td>
            </ng-container>
    
            <!--3 type column -->
            <ng-container matColumnDef="typeName">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let item">{{item.typeName}}</td>
            </ng-container>
    
            <!--4 client column -->
            <ng-container matColumnDef="clientName">
                <th mat-header-cell *matHeaderCellDef>Client Name</th>
                <td mat-cell *matCellDef="let item">{{item.clientName}}</td>
            </ng-container>
    
            <!--5 description column -->
            <!-- <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let item">{{item.Description}}</td>
            </ng-container> -->
    
            <!--6 currency column -->
            <!-- <ng-container matColumnDef="currency">
                <th mat-header-cell *matHeaderCellDef>Currency</th>
                <td mat-cell *matCellDef="let item">{{item.currency}}</td>
            </ng-container> -->
    
            <!--7 total column -->
            <ng-container matColumnDef="TotalAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
                <td mat-cell *matCellDef="let item">{{item.TotalAmount | mycurrency:item.currency}}</td>
            </ng-container>
    
            <!--8 actions column -->
            <ng-container matColumnDef="actions" [stickyEnd]="isSticky">
                <th mat-header-cell *matHeaderCellDef class="actionsCol">Actions</th>
                <td mat-cell *matCellDef="let item" class="actionsCol">
                    <button mat-icon-button color="primary" class="bg-accent" [matMenuTriggerFor]="beforeMenu"><i class="fas fa-ellipsis-v"></i></button>
                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <button mat-menu-item color="primary" routerLink="/expenses/view/{{item.id}}" data-invoiceId="{{item.id}}" class='view-expense-btn'><i class="far fa-eye uk-margin-small-right"></i> View</button>
                        <!-- <button mat-menu-item color="primary" routerLink="/expenses/edit/{{item.id}}" data-invoiceId="{{item.id}}"  class='edit-expense-btn'><i class="far fa-edit uk-margin-small-right"></i> Edit</button> -->
                        <button mat-menu-item color="warn" (click)="openDeleteDialog(item.id)" data-invoiceId="{{item.id}}"  class='delete-expense-btn'><i class="far fa-trash-alt uk-margin-small-right"></i> Delete</button>
                    </mat-menu>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let item; columns: displayedColumns;"></tr>
    
        </table>
        
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="resultsPerPage" [pageSizeOptions]="[1, 5, 10, 25, 100]"></mat-paginator>
</div>



