$app-primary-color: #731991;
$app-secondary-color: #ffffff;
$very-light-gray-color: #fdfdfd;
$light-gray-color: #efefef;
$medium-gray-color: #9f9f9f;
$dark-gray-color: #6f6f6f;
$warning-red-color: #FB0055;
$orange-color: #FFD427;
$green-color: #1AE1A4;
$black-color: #333333;

$app-font-size: 12px;
$app-font-family: 'Montserrat', sans-serif;



@function clr($base, $shade: base) {
    $color: map-get(map-get($colors, $base), $shade);
    @return $color;
}