/* Custom SCSS/SASS Files */
@import 'variables';
@import 'mixins';
@import 'keyframes';

mat-sidenav-container{
    background: $app-secondary-color;
    height: calc(100vh - 80px);
}
mat-sidenav-content{
    // background: rgb(93,6,130);
    // background: linear-gradient(180deg, rgba(93,6,130,0.03) 0%, rgba(255,255,255,1) 100%);
    background: $app-secondary-color;
    min-height: 100%;
}
.mat-drawer-side{
    border:none;
}
mat-sidenav{
    background: $app-secondary-color;
    height: 100%;
    max-width: 50vw;
    width: 80px;
    box-shadow: 2px 1px 1px rgba($app-primary-color, 0.06);
}

// .page-title{
//     display: block;
//     // margin-top: 1em;
//     padding: 1em;
//     line-height: 3em;
//     font-size: 16px;
//     font-weight: 500;
//     text-transform: uppercase;
//     color: $app-primary-color;
    
//     i{
//         font-size: 1.4em;
//         margin-right: 10px;
//     }
// }