/* Custom SCSS/SASS Files */
@import 'variables';
@import 'mixins';
@import 'keyframes';

mat-sidenav-container{
    background: $app-secondary-color;
    height: calc(100vh - 80px);
}
mat-sidenav-content{
    background: $app-secondary-color;
    min-height: 100%;
}

mat-sidenav{
    background: $app-secondary-color;
    height: 100%;
    max-width: 77px;
}

.page-title{
    display: block;
    // margin-top: 1em;
    padding: 1em;
    line-height: 3em;
    font-size: 16px;
    font-weight: 500;
    color: $app-primary-color;
    
    i{
        font-size: 1.4em;
        margin-right: 10px;
    }
}