/* Custom SCSS/SASS Files */
@import 'variables';
@import 'mixins';
@import 'keyframes';




#offcanvas-push{
    // display: block!important;
}
#side-nav-container {
    // position: fixed;
    // height:100vh;
    // width: auto;
    // top: 100px;
    height:calc(100vh - 80px);
    // background: rgb(93,6,130);
    // background: linear-gradient(0deg, rgba(93,6,130,0.03) 0%, rgba(255,255,255,1) 100%);
    background: $app-secondary-color;
    padding: 0;
    border-right: 0px solid $very-light-gray-color;
    // transition: width 0.3s ease-out;
    div{
        width:100%;
    }
    // .uk-logo{
    //     // background-color: $app-primary-color;
    //     // border-bottom: 1px solid $light-gray-color;
    //     overflow: hidden;
    //     border-bottom: 1px solid $very-light-gray-color;
    //     width:83px;
    // }
    .uk-nav{
        padding: 20px 10px;
        display: block;
        height: 100%;
        width: 100%;
        .uk-flex{
            width: 100%;
            & > div{
                width: 100%;
            }
        }
    }
    
    li.menu-item {
        padding: 0px;
        margin-bottom:20px;
        width:100%;
        border-radius: 5px;
        & a.menu-link{
            // padding: 12px 16px;
            padding: 0;
            width: 60px;
            transition: all 0.1s ease-in;
            text-align: center;
            & i{
                padding-top: 10px;
                font-size: 16px;
                color: $app-primary-color;
                transition: color 0.3s ease-out;
            }
            & span{
                display: block;
                font-size: 11px;
                // text-transform: uppercase;
                // letter-spacing: 1px;
                text-align: center;
                color: $medium-gray-color;
                font-weight: 500;
                transition: opacity 0.1s ease-in;
                // margin
            }
        }
        &:hover{
            & a.menu-link{
                & i{
                    color: $app-primary-color;
                }
                & span{
                    color: $app-primary-color;
                }
            }
        }
        &.active{
            background: rgba($app-primary-color,0.06);
            & > a.menu-link{
                & > i{
                    color: $app-primary-color;
                }
                & > span{
                    color: $app-primary-color;
                    font-weight: 500;
                }
            }
        }
        
    }
    
}



