    <!-- <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true; direction: right;"> -->
        <div id="side-nav-container">

            <!-- <button class="uk-offcanvas-close" type="button" uk-close></button> -->
            <!-- <a class="uk-navbar-item uk-logo" href="#">
                <img src="../../assets/img/logo.svg" alt="logo" />
            </a> -->
            <ul class="uk-nav uk-nav-default">
                <div class="uk-flex uk-flex-column uk-flex-between uk-flex-middle full-height">
                    <div>
                        <!-- <li routerLinkActive="active" class="menu-item">
                            <a routerLink="dashboard" class="menu-link"><i class="fas fa-chart-line"></i><span class="uk-margin-small-left">Dashboard</span></a>
                        </li> -->
                        <li routerLinkActive="active" class="menu-item" matTooltip="Invoices" matTooltipPosition="below" aria-label="Full Invoices List">
                            <a routerLink="invoices" class="menu-link"><i class="fas fa-file-invoice-dollar"></i><span class="uk-margin-small-left">Invoices</span></a>
                        </li>
                        <li routerLinkActive="active" class="menu-item" matTooltip="Expenses" matTooltipPosition="below" aria-label="Full Expenses List">
                            <a routerLink="expenses" class="menu-link"><i class="fas fa-dollar-sign"></i><span class="uk-margin-small-left">Expenses</span></a>
                        </li>
                        <li routerLinkActive="active" class="menu-item" matTooltip="Clients" matTooltipPosition="below" aria-label="Full Clients List">
                            <a routerLink="clients" class="menu-link"><i class="fas fa-user-tie"></i><span class="uk-margin-small-left">Clients</span></a>
                        </li>
                        <!-- <li routerLinkActive="active" class="menu-item" matTooltip="Team" matTooltipPosition="below" aria-label="Full Team List">
                            <a routerLink="team" class="menu-link"><i class="fas fa-users"></i><span class="uk-margin-small-left">Team</span></a>
                        </li> -->
                    </div>
                    <div>
                        <li routerLinkActive="active"  class="menu-item" matTooltip="Settings" matTooltipPosition="below" aria-label="Settings">
                            <a routerLink="settings" class="menu-link"><i class="fas fa-cog"></i><span class="uk-margin-small-left">Settings</span></a>
                        </li>
                        <!-- <li routerLinkActive="active"  class="menu-item" matTooltip="Notifications" matTooltipPosition="below" aria-label="Notifications">
                            <a routerLink="notifications" class="menu-link"><i class="fas fa-bell active"></i><span class="uk-margin-small-left">Notifications</span></a>
                        </li> -->
                        <li class="menu-item" matTooltip="Logout" matTooltipPosition="below" aria-label="Logout">
                            <a routerLink="" class="menu-link"><i class="fas fa-sign-out-alt active"></i><span class="uk-margin-small-left">Logout</span></a>
                        </li>
                    </div>
                </div>
                
                
                
            </ul>

        </div>
        
    <!-- </div> -->

    